.contact-container{
    padding: 3em 0em;
    background: #f9fafb;
}

.contact-container .contact-box .contact-icon{
    padding: 0.5em;
}

.contact-container .contact-box{
    margin: 1em 0;
}

.contact-section form{
    margin: 2em 0;
}